<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--uncomment below code-->
                <% for(var i=0; i<books.length;i++){%>
                    <h3>
                        <%=books[i].title%>
                    </h3>
                    <h4>
                        <%=books[i].author%>
                    </h4>
                    <a href="/books/<%=i%>" class="text-muted">Read More</a>

            </div>
        </div>
        <hr>
        <%}%>
    </div>
</body>

</html>